/*styling for whole webpage*/
* {
    font-family: 'Avenir', sans-serif;
}

body {
    background-color: #ffffff;
}

/*styling for header of webpage*/

header {
    height: 150px;
    margin: 0px;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/ep_naturalwhite.png)
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    margin: 0px;
    font-size: 1.8em;
    color: #3b1e08;
}

nav {
    float: right;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
    height: 150px;
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
}

nav li {
    margin: 0px;
    text-align: right;
}

nav a {
    color: #532915;
    text-decoration: none;
    margin: 0px;
    padding-left: 20px;
}

/*styiling for main section of webpage*/
main {
    margin: 25px;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    float: left;
    padding-right: 50px;
    margin: 0px;
    width: 150px;
    text-align: right;
    color: #532915;
}

/*styling for About Me section*/
#about-me p {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding-right: 150px;
    color: #652a0e;
}

/*styling for Professional Projects section*/
.large {
    display: flex;
    flex-wrap: wrap;
    padding-right: 150px;
    position: relative;
}

.large-image {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding-bottom: 10px;
}

.large a {
    display: contents;
}

.image-title-left {
    position: absolute;
    top: 100px;
    background-color: #532915;
    color: darkgrey;
    padding: 3px;
    border-style: solid;
    border-color: darkgrey;
}

.small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 150px;
    position: relative;
}

.small a {
    display:contents;
}

.small-image {
    width: 47%;
    height: 150px;
    object-fit: cover;
    padding-bottom: 10px;
}

.image-title-right {
    position: absolute;
    top: 100px;
    right: 307px;
    background-color: #532915;
    color: darkgrey;
    padding: 3px;
    border-style: solid;
    border-color: darkgrey;
}

.image-title-bottom-left {
    position: absolute;
    top: 260px;
    background-color: #532915;
    color: darkgrey;
    padding: 3px;
    border-style: solid;
    border-color: darkgrey;
}

.image-title-bottom-right {
    position: absolute;
    top: 260px;
    right: 275px;
    background-color: #532915;
    color: darkgrey;
    padding: 3px;
    border-style: solid;
    border-color: darkgrey;
}

/*styling for Contact Me section*/
#contact-me ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    height: 33px;
    padding-right: 150px;
    padding-left: 0px;
    text-decoration: underline;
}

#contact-me li {
   margin: 0px;
   color: #652a0e; 
}

#contact-me a {
    padding: 0px;
    color: #532915;
}