* {
    font-family: 'Avenir', sans-serif;
}

body {
    background-color: #ffffff;
}

header {
    padding: 10px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    color: #3b1e08;
    display: inline-block;
}

nav {
    padding-top: 40px;
    margin-right: 20px;
    float: right;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
    color: #652a0e;
}

a {
    color: #652a0e;
    text-decoration: none;
}

main {
    display: inline-block;
    flex-wrap: wrap;
}

.border{
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

h2 {
    color: #532915;
}

p {
    color: #652a0e;
}

#about-me h2, #professional-projects h2, #contact-me h2 {
    float: left;
}

#contact-me li {
    text-decoration: underline;
}