/*styling for whole webpage*/
* {
    font-family: 'Avenir', sans-serif;
    margin: 5px;
}

body {
    background-color: #ffffff;
}

/*styling for header of webpage*/
header {
    height: 150px;
    padding-bottom: 15px;
    margin: 0px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-right: 10px;
    margin: 0px;
}

h1 {
    display: inline-block;
    margin: 0px;
    color: #3b1e08;
}

nav {
    float: right;
    margin: 0px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
    height: 150px;
    margin: 0px;
    text-align: right;
    color: #652a0e;
}

a {
    color: #652a0e;
    text-decoration: none;
}

/*styiling for main section of webpage*/
h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    float: left;
    padding-right: 20px;
    margin: 0px;
    width: 150px;
    color: #532915;
}

#about-me p {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    color: #652a0e;
}

#professional-projects a{
    display: flex;
    flex-wrap: wrap;
}

#contact-me ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0px;
    height: 33px;
    padding-left: 0px;
    text-decoration: underline;
}

li {
    color: #652a0e; 
}